{% set placeholder = "static/images/placeholder.png" %}
{% for article in articles_list %}
    <a class="grid-element open-dialog" href="#{{ article.updated_at }}">
        <img src="{{ '/articles/image/' + article.thumbnail_image if article.thumbnail_image else placeholder }}" onerror="this.onerror=null; this.src='static/images/placeholder.png'" alt="">
        <span> {{ article.headline }} </span>
    </a>

    <div id="{{ article.updated_at }}" class="dialog item-wrapper">
        <div class="item-content">
            <a href="#" class="close-dialog">&times;</a>
            <img src="{{ '/articles/image/' + article.thumbnail_image if article.thumbnail_image else placeholder }}" onerror="this.onerror=null; this.src='static/images/placeholder.png'" alt="">
            <h2>{{ article.headline }}</h2>
            <span>
                {{ article.body }}
            </span>
        </div>
    </div>
{% endfor %}
