{% set placeholder = "src/static/images/placeholder.png" %}
{% for item in news_list %}
    <a class="grid-element open-dialog" href="#{{ item._id }}">
        <img src="{{ item.image_path or placeholder }}" onerror="this.onerror=null; this.src='src/static/images/placeholder.png'" alt="">
        <span> {{ item.title }} </span>
    </a>

    <div id="{{ item._id }}" class="dialog item-wrapper">
        <div class="item-content">
            <img src="{{ item.image_path or placeholder }}" onerror="this.onerror=null; this.src='src/static/images/placeholder.png'" alt="">
            <h2>{{ item.title }}</h2>
            <span>
                {{ item.article_text }}
            </span>
        </div>
        <a href="#" class="close-dialog">&times;</a>
    </div>
{% endfor %}
