<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="src/static/css/styles.css" type="text/css" rel="stylesheet">
</head>
<head>
<header>
    <div class="logo-wrapper">
        <img src="src/static/images/logo.png" alt="" class="logo-img">
        <span class="logo-text">аи панорама</span>
    </div>
    <a class="add-article open-dialog" href="#add-article-dialog">
        <span>сгенерировать новость</span>
    </a>
    <div class="dialog" id="add-article-dialog">
        <div class="dialog-form-wrapper">
            <a href="#" class="close-dialog">&times;</a>
            <form class="add-article-form" name="add-article" method="post" action="/add-article" enctype="multipart/form-data">
                <label  class="form-element" for="title">Заголовок</label>
                <button class="form-element gen-title-btn" type="button"></button>
                <input  class="form-element" type="text" id="title" name="title" required minlength="20">

                <label  class="form-element" for="article_text">Текст</label>
                <button class="form-element gen-article-btn" type="button"></button>
                <textarea class="form-element article-body" id="article_text" name="article_text" required minlength="40" rows="4" cols="50" placeholder="Введите ваш текст здесь..."></textarea>


                <label  class="form-element" for="image">Изображение</label>
                <button class="form-element gen-image-btn" type="button"></button>
                <div class="fict"></div>
                <input class="form-element" type="hidden" id="image" name="image">
                <img class="article-image" src="src/static/images/placeholder.png" />
                <button class="send-article" type="submit">Добавить новость</button>
            </form>
        </div>

    </div>


</header>
    <div class="caution">
        <span>ИИ-ГЕНЕРАЦИЯ</span>
        <span>ФЕЙКОВЫХ</span>
        <span>НОВОСТЕЙ</span>

    </div>
    <main>
        <div class="grid-container">
            {{ data }}
            </div>
        </div>
        <div id="sentinel"></div>

    </main>
    <script src="src/static/js/infinite_scroll.js"></script>
    <script src="src/static/js/add_new_article.js"></script>
    <script src="src/static/js/datagen_server_connection.js"></script>

</head>
</html>
